/* ==============================
   $Contents
   ==============================*/
/**
* Contents......................Here we are!
* Reset.........................Reset defaults
*   Elements lib................Import Less elements library
* Mixins and vars...............Projects custom mixins and variables
* 
* Headings and text.............Headings general styles
* General styles................Abstract styles
*   Timeline demo section.......Demo timeline, color-scheme-picker styles
*     Timeline general styles...Styles for both sides of timeline
*     Timeline (2n-1) styles....Timeline left side styles
*     Timeline (2n) styles......Timeline right side styles
* Media queries.................Media queries section
*/
/* ==============================
   $Reset
   ==============================*/
/* =========================================================
   Reset css by http://meyerweb.com/eric/tools/css/reset/ 
   ========================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type=submit] {
  cursor: pointer;
}
/* ==============================
   $Elements lib
   ==============================*/
/* =========================================================
   orlovmax.com less elements library v1.1
   ===================================
   More info at https://github.com/orlovmax/less-elements
   ========================================================= */
.hidentext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-contain {
  -webkit-background-size: contain;
  background-size: contain;
}
/* ==============================
   $Mixins and vars
   ============================== */
/* Timeline mixins an variables*/
/* ==============================
   $Headings and text
   ============================== */
h1 {
  font-size: 60px;
  line-height: 1.2;
}
h2 {
  font-size: 45px;
  line-height: 1.2;
}
h3 {
  font-size: 30px;
  line-height: 1.2;
}
p {
  font-size: 25px;
  line-height: 1.3;
}
a {
  color: #2980b9;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
/* ==============================
   $General styles
   ==============================*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2c3e50;
}
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}
/* ==============================
   $Timeline demo section
   ==============================*/
.example {
  position: relative;
  padding: 50px 0;
  background: #ecf0f1;
  background-attachment: fixed;
  text-align: center;
  -webkit-box-shadow: 0 0 4px 0 #222222;
  -moz-box-shadow: 0 0 4px 0 #222222;
  box-shadow: 0 0 4px 0 #222222;
}
.color-picker {
  max-width: 1200px;
  margin: 0 auto 50px;
}
.color {
  display: inline-block;
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}
.color:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  border: 10px solid #ddd;
  -webkit-box-shadow: inset 1px 1px 3px 0 #222222;
  -moz-box-shadow: inset 1px 1px 3px 0 #222222;
  box-shadow: inset 1px 1px 3px 0 #222222;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.color:hover:before {
  border-color: #a6a6a6;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.color.midnight:before {
  background-color: #2c3e50;
}
.color.belize:before {
  background-color: #2980b9;
}
.color.turquoise:before {
  background-color: #1abc9c;
}
.color.nephritis:before {
  background-color: #27ae60;
}
.color.sun:before {
  background-color: #f1c40f;
}
.color.orange:before {
  background-color: #f39c12;
}
.color.alizarin:before {
  background-color: #e74c3c;
}
.color.wisteria:before {
  background-color: #8e44ad;
}
.color.active:before {
  border-color: #a6a6a6;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* ==============================
   $Timeline general styles
   ==============================*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  clear: both;
}
.timeline:before,
.timeline:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.timeline:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  top: 50px;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dotted #7f8c8d;
}
.timeline_milestone {
  position: relative;
  width: 70%;
  min-height: 100px;
  margin: 0 auto 100px;
  padding: 10px;
  background-color: #7f8c8d;
}
.timeline_milestone:not(:first-of-type) {
  margin-top: 100px;
}
.timeline_milestone:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -25px;
  left: 50%;
  margin-left: -50px;
  border-top: 25px solid #7f8c8d;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.milestone_title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #ecf0f1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.milestone_meta {
  font-size: 25px;
  color: #ecf0f1;
}
.timeline_post {
  display: block;
  position: relative;
  width: 100%;
  margin: 40px 0;
  clear: both;
}
.timeline_post:before,
.timeline_post:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.timeline_post:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 65px;
  left: 50%;
  z-index: 10;
  margin-left: -10px;
  background-color: #7f8c8d;
  border: 5px solid #ecf0f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.tl-post_date {
  position: relative;
  width: 35%;
  min-height: 100px;
  margin-top: 25px;
  padding: 15px 0;
  background-color: #e74c3c;
  font-size: 50px;
  color: #ecf0f1;
}
.tl-post_card {
  position: relative;
  width: 42%;
  min-height: 200px;
  border-top: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
  background-color: #ffffff;
  text-align: left;
}
.tl-post_header {
  position: relative;
  min-height: 125px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #7f8c8d;
  background-color: #ffffff;
}
.tl-post_title {
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: #e74c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.tl-post_meta {
  font-size: 20px;
  color: #3b3b3b;
}
.tl-post_content {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}
.tl-post_content:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.content_wrap {
  min-height: 100px;
  max-height: 300px;
  padding: 0 10px;
  overflow-y: auto;
}
.tl-post_text {
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #3b3b3b;
  text-align: justify;
  text-indent: 20px;
}
.tl-post_image {
  display: inline-block;
  max-width: 90%;
}
.tl-post_image.left {
  float: left;
  max-width: 40%;
  margin-right: 10px;
}
.tl-post_image.right {
  float: right;
  max-width: 40%;
  margin-left: 10px;
}
.tl-post_footer {
  position: relative;
  min-height: 50px;
  padding-bottom: 10px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.tl-post_tags {
  font-size: 16px;
}
.tl-post_tags span {
  display: inline-block;
  margin: 0 5px;
  color: #e74c3c;
  font-style: italic;
}
.tl-post_tags span:not(:last-of-type):after {
  content: ",";
}
.tl-post_readmore {
  display: block;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #3b3b3b;
  text-align: right;
}
@-webkit-keyframes label {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes label {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* ==============================
   $Timeline (2n-1) styles
   ==============================*/
.timeline_post:nth-of-type(2n-1):hover .tl-post_date {
  -webkit-animation: label 1s linear 0s 1 normal;
  animation: label 1s linear 0s 1 normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.timeline_post:nth-of-type(2n-1) .tl-post_date {
  float: right;
  margin-right: 15%;
}
.timeline_post:nth-of-type(2n-1) .tl-post_date:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -25px;
  border-right: 25px solid #e74c3c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.timeline_post:nth-of-type(2n-1) .tl-post_card {
  float: left;
  margin-right: 5%;
  border-left: 10px solid #7f8c8d;
}
.timeline_post:nth-of-type(2n-1) .tl-post_card:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 25px;
  top: -10px;
  right: -35px;
  border-left: 45px solid #7f8c8d;
  border-bottom: 90px solid transparent;
}
.timeline_post:nth-of-type(2n-1) .tl-post_card:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 45%;
  top: 25px;
  right: -25px;
  border-left: 45px solid #7f8c8d;
  border-top: 90px solid transparent;
}
.timeline_post:nth-of-type(2n-1) .tl-post_header {
  margin: 0 20px 0 10px;
  padding-left: 10px;
}
.timeline_post:nth-of-type(2n-1) .tl-post_header:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 15px;
  top: 0;
  right: -35px;
  z-index: 10;
  border-left: 35px solid #ffffff;
  border-bottom: 70px solid transparent;
}
.timeline_post:nth-of-type(2n-1) .tl-post_header:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 90%;
  top: 50px;
  right: -35px;
  z-index: 10;
  border-left: 35px solid #ffffff;
  border-top: 70px solid transparent;
}
.timeline_post:nth-of-type(2n-1) .tl-post_content {
  margin: 0 -15px 0 10px;
  padding: 10px 35px 10px 0;
  clear: both;
}
.timeline_post:nth-of-type(2n-1) .tl-post_content:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0;
  right: -10px;
  z-index: 10;
  background-color: #ffffff;
  border-right: 10px solid #7f8c8d;
}
.timeline_post:nth-of-type(2n-1) .tl-post_footer {
  margin: -1px 20px 0 10px;
  padding-left: 10px;
  clear: both;
}
.timeline_post:nth-of-type(2n-1) .tl-post_footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0;
  right: -45px;
  z-index: 10;
  background-color: #ffffff;
  border-right: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
}
/* ==============================
   $Timeline (2n) styles
   ==============================*/
.timeline_post:nth-of-type(2n):hover .tl-post_date {
  -webkit-animation: label 1s linear 0s 1 normal;
  animation: label 1s linear 0s 1 normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transform-origin: 100% 50% 0;
  -moz-transform-origin: 100% 50% 0;
  -ms-transform-origin: 100% 50% 0;
  -o-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}
.timeline_post:nth-of-type(2n) .tl-post_date {
  float: left;
  margin-left: 15%;
}
.timeline_post:nth-of-type(2n) .tl-post_date:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -25px;
  border-left: 25px solid #e74c3c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.timeline_post:nth-of-type(2n) .tl-post_card {
  float: right;
  margin-left: 5%;
  border-right: 10px solid #7f8c8d;
}
.timeline_post:nth-of-type(2n) .tl-post_card:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 25px;
  top: -10px;
  left: -25px;
  border-right: 45px solid #7f8c8d;
  border-bottom: 90px solid transparent;
}
.timeline_post:nth-of-type(2n) .tl-post_card:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 45%;
  top: 25px;
  left: -25px;
  border-right: 45px solid #7f8c8d;
  border-top: 90px solid transparent;
}
.timeline_post:nth-of-type(2n) .tl-post_header {
  margin: 0 10px 0 20px;
  padding-right: 10px;
}
.timeline_post:nth-of-type(2n) .tl-post_header:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 15px;
  top: 0;
  left: -35px;
  z-index: 10;
  border-right: 35px solid #ffffff;
  border-bottom: 70px solid transparent;
}
.timeline_post:nth-of-type(2n) .tl-post_header:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 90%;
  top: 50px;
  left: -35px;
  z-index: 10;
  border-right: 35px solid #ffffff;
  border-top: 70px solid transparent;
}
.timeline_post:nth-of-type(2n) .tl-post_content {
  margin: 0 10px 0 -15px;
  padding: 10px 0 10px 35px;
}
.timeline_post:nth-of-type(2n) .tl-post_content:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0;
  left: -10px;
  z-index: 10;
  background-color: #ffffff;
  border-left: 10px solid #7f8c8d;
}
.timeline_post:nth-of-type(2n) .tl-post_footer {
  margin: -1px 10px 0 20px;
  padding-right: 10px;
  clear: both;
}
.timeline_post:nth-of-type(2n) .tl-post_footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0;
  left: -45px;
  z-index: 10;
  background-color: #ffffff;
  border-left: 10px solid #7f8c8d;
  border-bottom: 10px solid #7f8c8d;
}
/* ==============================
   $Media queries
   ============================== */
@media (max-width: 800px) {
  /* ==============================
   $media-800px Timeline general styles
   ==============================*/
  .timeline:before {
    left: 60%;
  }
  .timeline_milestone {
    width: 100%;
    margin: 0 auto 70px;
  }
  .timeline_milestone:not(:first-of-type) {
    margin-top: 70px;
  }
  .timeline_milestone:after {
    left: 60%;
  }
  .milestone_title {
    font-size: 40px;
  }
  .milestone_meta {
    font-size: 20px;
  }
  .timeline_post:before {
    left: 60%;
  }
  .tl-post_date {
    width: 40%;
    padding: 25px 0;
    font-size: 40px;
  }
  .tl-post_card {
    width: 52%;
  }
  .tl-post_title {
    font-size: 40px;
  }
  .tl-post_meta {
    font-size: 18px;
  }
  /* ==============================
   $media-800px Timeline (2n-1) styles
   ==============================*/
  .timeline_post:nth-of-type(2n-1) .tl-post_date {
    margin-right: 0;
  }
  /* ==============================
   $media-800px Timeline (2n) styles
   ==============================*/
  .timeline_post:nth-of-type(2n):hover .tl-post_date {
    -webkit-animation: label 1s linear 0s 1 normal;
    animation: label 1s linear 0s 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: 0 50% 0;
    -moz-transform-origin: 0 50% 0;
    -ms-transform-origin: 0 50% 0;
    -o-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
  }
  .timeline_post:nth-of-type(2n) .tl-post_date {
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  .timeline_post:nth-of-type(2n) .tl-post_date:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -25px;
    right: auto;
    border-left: none;
    border-right: 25px solid #e74c3c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  .timeline_post:nth-of-type(2n) .tl-post_card {
    float: left;
    margin-right: 5%;
    margin-left: auto;
    border-right: none;
    border-left: 10px solid #7f8c8d;
  }
  .timeline_post:nth-of-type(2n) .tl-post_card:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 25px;
    top: -10px;
    right: -35px;
    left: auto;
    border-right: none;
    border-left: 45px solid #7f8c8d;
    border-bottom: 90px solid transparent;
  }
  .timeline_post:nth-of-type(2n) .tl-post_card:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 45%;
    top: 25px;
    right: -25px;
    left: auto;
    border-right: none;
    border-left: 45px solid #7f8c8d;
    border-top: 90px solid transparent;
  }
  .timeline_post:nth-of-type(2n) .tl-post_header {
    margin: 0 20px 0 10px;
    padding-left: 10px;
  }
  .timeline_post:nth-of-type(2n) .tl-post_header:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 15px;
    top: 0;
    right: -35px;
    left: auto;
    z-index: 10;
    border-right: none;
    border-left: 35px solid #ffffff;
    border-bottom: 70px solid transparent;
  }
  .timeline_post:nth-of-type(2n) .tl-post_header:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 90%;
    top: 50px;
    right: -35px;
    left: auto;
    z-index: 10;
    border-right: none;
    border-left: 35px solid #ffffff;
    border-top: 70px solid transparent;
  }
  .timeline_post:nth-of-type(2n) .tl-post_content {
    margin: 0 -15px 0 10px;
    padding: 10px 35px 10px 0;
    clear: both;
  }
  .timeline_post:nth-of-type(2n) .tl-post_content:before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 100%;
    top: 0;
    right: -10px;
    left: auto;
    z-index: 10;
    background-color: #ffffff;
    border-left: none;
    border-right: 10px solid #7f8c8d;
  }
  .timeline_post:nth-of-type(2n) .tl-post_footer {
    margin: -1px 20px 0 10px;
    padding-left: 10px;
    clear: both;
  }
  .timeline_post:nth-of-type(2n) .tl-post_footer:before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 100%;
    top: 0;
    right: -45px;
    left: auto;
    z-index: 10;
    background-color: #ffffff;
    border-left: none;
    border-right: 10px solid #7f8c8d;
    border-bottom: 10px solid #7f8c8d;
  }
}
@media (max-width: 640px) {
  /* ==============================
   $media-640px Timeline general styles
   ==============================*/
  .timeline:before {
    left: 50%;
  }
  .timeline_milestone:after {
    left: 50%;
  }
  .timeline_post {
    overflow: hidden;
  }
  .timeline_post:before {
    display: none;
  }
  .tl-post_date {
    width: 100%;
  }
  .tl-post_card {
    width: 100%;
  }
  /* ==============================
   $media-640px Timeline overspecified styles reset
   ==============================*/
  .timeline_post:nth-of-type(2n-1):hover .tl-post_date,
  .timeline_post:nth-of-type(2n):hover .tl-post_date {
    -webkit-animation: none 1s linear 0s infinite normal;
    animation: none 1s linear 0s infinite normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_date,
  .timeline_post:nth-of-type(2n) .tl-post_date {
    float: none;
    margin-right: 0;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_date:before,
  .timeline_post:nth-of-type(2n) .tl-post_date:before {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_card,
  .timeline_post:nth-of-type(2n) .tl-post_card {
    float: none;
    margin-right: 0;
    border-left: 10px solid #7f8c8d;
    border-right: 10px solid #7f8c8d;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_card:before,
  .timeline_post:nth-of-type(2n) .tl-post_card:before {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_card:after,
  .timeline_post:nth-of-type(2n) .tl-post_card:after {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_header,
  .timeline_post:nth-of-type(2n) .tl-post_header {
    margin: auto;
    padding: auto;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_header:before,
  .timeline_post:nth-of-type(2n) .tl-post_header:before {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_header:after,
  .timeline_post:nth-of-type(2n) .tl-post_header:after {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_content,
  .timeline_post:nth-of-type(2n) .tl-post_content {
    margin: auto;
    padding: auto;
    clear: both;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_content:before,
  .timeline_post:nth-of-type(2n) .tl-post_content:before {
    display: none;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_footer,
  .timeline_post:nth-of-type(2n) .tl-post_footer {
    margin: auto;
    padding: 10px;
    clear: both;
  }
  .timeline_post:nth-of-type(2n-1) .tl-post_footer:before,
  .timeline_post:nth-of-type(2n) .tl-post_footer:before {
    display: none;
  }
}
