.tl-post_date {
  background-color: #27ae60;
}
.tl-post_title {
  color: #27ae60;
}
.tl-post_tags span {
  color: #27ae60;
}
.timeline_post:nth-of-type(2n-1) .tl-post_date:before {
  border-right-color: #27ae60;
}
.timeline_post:nth-of-type(2n) .tl-post_date:before {
  border-left-color: #27ae60;
}
@media (max-width: 800px) {
  .timeline_post:nth-of-type(2n) .tl-post_date:before {
    border-right-color: #27ae60;
  }
}
